


/* content */
.shop-container {
  display: flex;
  flex-direction: column;
}

.shop-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
    min-height: 320px;
}

.mens-outwear,
.ladies-outwear,
.mens-tshirt,
.ladies-tshirt{
display: flex;
flex-direction: column;
align-items: center;
/* background: red; */
margin-bottom: 40px;
justify-content: space-around;


}

h2{
font-size: 1.3em;
font-weight: 500;
margin: 32px 0;
}

.shop-now-botton {
    border: 2px solid;
  padding: .6em 3.5em;
}
.shop-now-botton a{
  text-decoration: none;color: black;
  font-size: 14px;
  font-weight: 500;

}
.tshirt{
 display: flex;
}

/* product -page  */
.product-container{
display: flex;flex-direction: row;
/* max-width: 90%; */
justify-content: center;
align-items: center;
}
.product-detail{

display: flex;flex-direction: column;
flex: 1;
}
.product-detail h2{
  font-size: 20px;
line-height: 24px;
}
.product-price{
  font-size: inherit;
margin: 12px 0 32px;
}
.product-img{
  flex:2;
  max-width:60% ;
}

.product-description {
  color:  #757575;;
}
.product-description > h2
{color: black;
  font-weight: bold;
  margin: 16px 0;
}

@media (min-width:1024px) {
  .shop-container {

margin-left: 11%;
margin-right: 11%;
  }

}

@media (max-width:767px) {
.shop-container img{
  height: 200%;
}

}
