/* header */
.navigation {
  display: none;
}


header {
  height: 4.5rem;
}

/*car header */
.cart-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-header h2{
  margin: 40px 0 4px 0;
font-size: 1.3em;
font-weight: 500;
}
.total-list-items{

    font-size: 12px;
  color: #757575;
}
/* cart-product-list */
.cart-product-list {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
  font-size: 16px;
}

/* cart list items */
.cart-product-list-item {
  margin-top: 5%;
  display: flex;
  align-items: center;
}

/* items image */
.product-image img {
  width: 72px;
}

/*product-detail-container  */
.product-detail-container {
  display: flex;
  align-items: space-between;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*  product-detail*/
.product-detail {
  color: #757575;;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 34%;
  min-width: 200px;
  flex-wrap: wrap;
}

/* quantity select */
select {
  background: white;
  outline: none;
  border: none;
}

@media (min-width:331px) and (max-width:580px) {
  .product-detail-container {
    height: 3em;
    position: relative;
  }

  .product-detail {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.total {
  font-weight: bold;

margin-right: 10px;
  float: right;
  margin-left: 60%;
  display: flex;
  justify-content: flex-end;
  ;
  align-items: center;
}

.total-price {
  margin-left: 5%;
}

.add-to-cart {
  margin-left: 5%;
  border: 2px solid;
  padding-top: .6em;
  padding-bottom: .6em;
  background: white;
  width: 140px;
  margin-top: 3%;
  text-transform: uppercase;
}

.add-to-cart a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 500;
}

@media(max-width:330px) {
  .product-detail {
    align-items: flex-start;
    flex-direction: column;
  }

  .product-name {
    white-space: nowrap;
    width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .total {
    margin-right: 15%;
  }
}

@media (max-width:767px) {
  .add-to-cart {
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8%;
    background: #172C50;
    ;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
  }

  .cart-product-list {
    margin-left: 5%;
    margin-right: 5%;
  }
}
