h2{font-size: 13px;}
body {
 margin:0;
 font-family:'Roboto', 'Noto', sans-serif;
 font-size:13px;
 line-height:1.5;
 min-height:100vh;
}
header nav {display: none;  }
.information-input input {
  font-size: 1em;
  font-weight: 300;
  border: none;
  padding: 8px 0;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2.5px solid #e0e0e0;
  position: relative;
}

.information-input label {
  display: none;
}


.information-input input:focus {
  border-color: #172C50;
  ;
}

/* main container */
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* checkout-header */
.checkout-header {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.checkout-header h2{margin: 0 0 4px 0;
font-size: 1.3em;
font-weight: 500;

}
.checkout-header span{
  font-size: 12px;
  color:  #757575;
}
/*  checkout-container*/
.checkout-container {
  display: flex;
  justify-content: space-between;
  width: 54%;
  flex-wrap: wrap;
  padding-top: 1%;
margin-top: 2%;
}
.summary-row{
  margin-top: 2%;
  margin-top: 2%;
}
/* left */
.checkout-container-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  padding-left: 2%;
  padding-right: 2%;
  min-width: 300px;

}

.checkout-container-right {
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 300px;
}

/* zip-state container */
.zip-state {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.zip-state .information-input {
  width: 48.6%;

}
.row{
  font-size: 16px;
  height: 76px;
}
.information-container {

  width: 100%;
}

.product-list-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
 .total {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.card-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-detail>div {
  width: 32.4%;
}

.year select,
.month select,
.billing-country select,
.shipping-country select {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 8px 24px 8px 0;
  border: none;
  background-color: transparent;
  border-radius: 0;
  font-size: 1em;
  font-weight: 300;

  overflow: hidden;
  margin: 0;
  outline: none;
  border-bottom: 2.5px solid #e0e0e0;
  color: #202020;
  font: 400 13.3333px Arial;
}
.information-container > h2{
height: 34px;
}

.add-to-cart {
    border: 2px solid;
  padding-top: .6em ;
padding-bottom: .6em ;
  background: white;
width: 140px;
margin-top: 3%;
text-transform: uppercase;
}
.add-to-cart a{
  text-decoration: none;color: black;
  font-size: 14px;
  font-weight: 500;

}

@media (max-width:767px) {

  .add-to-cart{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8%;
    background: #172C50;;
    color: white;
        font-size: 15px;
        text-transform: uppercase;
  }
  .content-container{
    margin-bottom: 30%;
  }
  .checkout-container{ width: 85%;}
}



.email input:focus ~ label
.email textarea:focus ~ label
{
  display: block;
  background: red;
}
