/*  */
body {
  margin: 0;
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 13px;
  line-height: 1.5;

}
/*navigation line  */
nav div:first-child{
  border-bottom:  2px solid ;
}
/* shop-contaniner */
.shop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* category */
.category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-name h2 {
  font-size: 1.3em;
  font-weight: 500;
}

.category-products-count{
  color: #757575;
}
.category-image img
{width: 100%;min-height: 320px;object-fit: cover;margin-bottom: 1%;}
/* product list */
.product-list
{
display: grid;
margin-top: 3%;
grid-template-columns: 1fr 1fr 1fr;
grid-column-gap: 20%;

}

/* product-list-item */
.product-list-item {
display: flex;
flex-direction: column;
align-items: center;
max-width: 400px;
/* justify-content: space-between; */
}
.product-name{font-weight: bold;}
.product-image {
   width: 85%;
   margin-bottom: 5em;
   /* max-width: 320px; */
}
.product-detail{display:flex;flex-direction: column;align-items: center;margin-bottom: 10%;text-align: center;}
.product-image img{
  width: 100%;
}
.product-price {
  color: #757575;
}
@media (min-width:1200px) {
  .shop-container {

margin-left: 4%;
margin-right: 4%;
  }

.product-list{
 grid-column-gap: 5%;
}


}

@media (min-width:768px) and (max-width:1199px){
 .product-list{
   margin-left: 5%;margin-right: 5%;
   grid-column-gap:5%;
 }
}

@media (max-width:767px) {
  .product-list{
    margin-left: 5%;margin-right: 5%;
    grid-column-gap:5%;grid-template-columns: 1fr 1fr;
  }
   .category-image{display: none;}
   .category-detail{ margin-top: -10%;}
   .category-name > h1{font-weight: 500;font-size: 1.6em;}
.category-products-count{margin-top: -5%;}
/* .shop-container img{
  height: 200%;
} */
