nav div:first-child{
  border-bottom:  2px solid ;
}
.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img img {
  width: 100%;
  min-width: 400px;
}

.product-detail {

  display: flex;
  flex-direction: column;
  margin: 64px 32px;
  width: 50%;
  max-width: 600px;
  min-width: 300px;
}
.product-description{  color: #757575;}
.product-description h2{margin-top: 6%;color:black;    font-size: 13px;}
.product-price {
margin-bottom: 5%;
  color: #757575;
}

.product-quantity, .product-size {
  position: relative;
}

select {
  width: 100%;
  background: white;
  border-left: 0;
  border-right: 0;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 25%;
  font-weight: 300;
      font-size: 16px;
          outline: none;
}

.label-head {
  position: absolute;
  top: calc(50% - 8px);
  color: #757575;

}

.add-to-cart {
    border: 2px solid;
  padding-top: .6em ;
padding-bottom: .6em ;
  background: white;
width: 140px;
margin-top: 3%;
text-transform: uppercase;
}
.add-to-cart a{
  text-decoration: none;color: black;
  font-size: 14px;
  font-weight: 500;

}
@media (max-width:767px) {
  .product-container {
    flex-direction: column;
margin-bottom: 10%;
  }
  .add-to-cart{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8%;
    background: #172C50;;
    color: white;
        font-size: 15px;
        text-transform: uppercase;
  }
  .product-detail{
    width: 80%;
  }
  select {
    padding-top: 3%;
    padding-bottom: 3%;
padding-left: 15%;
  }
  .product-price {
  margin-bottom: 3%;
}
.product-description h2{margin-top: 3%;
}
}
