/* body */
body {
  margin: 0;
  font-family: 'Roboto', 'Noto', sans-serif;
  line-height: 1.5;
  font-size: 13px;
}

a {
  text-decoration: none;
  color: black;
}

/* Header */
.heading {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.3em;
  position: relative;
  order: 2;
}

.cart-image {
  order: 3;
}

.menu-image {
  order: 1;
}

header {
  margin-bottom: .95em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 7.5rem;
}

.heading-section {
  margin: 1%;
  /* background: red; */
  width: 95%;
  display: flex;
  justify-content: space-between;
  /* margin-left: 5 */
}

.heading-section img {
  width: 22px;
  height: 22px;
  /* background: red; */
}

header nav {
  display: flex;
  justify-content: center;
  min-width: 500px;
  /* margin-bottom: 1.38%; */
  /* background: green */
}

header nav a {
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  margin: 1.1rem;
  text-decoration: none;
  color: black;
}

@media (min-width:768px) {
  .menu-image {
    opacity: 0;
  }
}

@media (max-width:767px) {
  header {
    /* background: red; */
    height: 4em;
  }

  .navigation {
    display: none;
  }
}
